@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #0f172a;
  --logo-color: #88DEF1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #e5e7eb;
  }
}

html, body {
  min-width: 400px; /* or 400px if you prefer */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Vazirmatn", ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

.logo-highlight {
  color: var(--logo-color);
}

a, button {
  cursor: pointer !important;
}
